<!DOCTYPE html>
<html>
<head>
	<title>Marvel Character Finder</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="styles/style.css">
	</head>
<body ng-app="marvelApp">
<div class="container" ng-controller="characterController as char">
	<div class="jumbotron">
		Marvel Character Finder
	</div>
	<div ng-if="!char.submitted">
		<div class="form-group">
			<label>Enter Marvel character name</label>
			<input type="text" name="characterName" class="form-control" placeholder="Character name" ng-model="char.characterName">
			<button type="button" class="btn btn-info" ng-click="char.apiFetcher()">Search!</button>
		</div>
	</div>
	<div ng-if="char.characterData === null">
		not found
	</div>
	<div>
		{{ char.characterData.name }}
	</div>
</div>
<script src="js/md5.js"></script>
<script src="angular/app.js"></script>
<script src="angular/controllers/characterController.js"></script>
<script src="angular/services/apiService.js"></script>
<script src="API_KEY.js"></script>
</body>
</html>